@import "~bulma/sass/utilities/initial-variables";

// Config vars
$changeless-purple: #6C27C4;
$changeless-purple-invert: #fff;

$primary: $changeless-purple;
$primary-invert: $changeless-purple-invert;

// Helper Classes
.full-width-image-container {
  width: 100vw;
  height: 400px;
  position: relative;
  left: 50%;
  right: 50%;
  margin: 5em -50vw;
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}

.margin-top-0 {
  margin-top: 0 !important;
}

@import "~bulma";
